<footer class="text-white bg-primary text-left text-lg-start" id="footer-index">
    <!-- Grid container -->
    <div class="container pl-5 p-4">
      <!--Grid row-->
      <div class="row"> 
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footer-index-texto">
          <h2 class="">Life Guardian, Lda.</h2><br>
          <p class="texto">
            Estefanilha, 2910-761 Setúbal <br>
            IPS - ESTS, Setúbal<br>
            (+351) 962914551<br><br>
            Copyright © <b>Life Guardian, Lda.</b> Todos os direitos reservados
          </p>
        </div>
        <!--Grid column-->
        <div class="col-lg-1 mb-4 mb-md-0  footer-icons">
          <a class="fab fa-facebook-f" href=""></a>
        </div>
        <div class="col-lg-1 mb-4 mb-md-0 ">
          <a class="far fa-envelope" href=""></a>
        </div>
        <div class="col-lg-1 mb-4 mb-md-0 ">
          <a class="fab fa-twitter" href=""></a>
        </div>
        <div class="col-lg-1 mb-4 mb-md-0 ">
          <a class="fab fa-instagram" href=""></a>
        </div>
        <div class="col-lg-1 mb-4 mb-md-0 ">
          <a class="fab fa-youtube" href=""></a>
      </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
  </footer>