<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light text-alling-center">
      <div id="nav-home">
        <a href="" class="btn-secondary-navbar underline"> Home</a>
        <a href="" class="btn-secondary-navbar underline"> Monitores</a>
        <a href="" class="btn-secondary-navbar underline"> Definições</a>
      </div>
      <h2 class="titulo-nav-home">Home</h2>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-2">
          <p class="utilizador-home"><%= user %></p>
        </ul>
        <ul class="navbar-nav ml-3">
          <li class="nav-item mr-5">
            <a href="/signout" class="btn btn-primary-navbar">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>