<%- include('partials/nav-bar-home'); %>
    <main>
        <div class="Pagina1-menu">
            <div class="Titulo-Pagina1-menu">
                <p>Os seus monitores.</p>
            </div>

            <section class="menus">
                <div class="one"><a class="fas fa-desktop" href=""></a>
               <p class="menus-texto">Monitor 1</p></div>
                <div class="two"><a class="fas fa-plus" href=""></a>
                <p class="menus-texto">Adicionar Monitor</p></div>
              </section>
        </div>
        <%- include('partials/footer'); %>