<%- include('partials/navbar'); %>
    <div class="Pagina1-monitores">
        <div class="Titulo-Pagina1-monitores">
            <p><i class="fas fa-desktop"></i>Monitor 1</p>
        </div>
        <div class="Pagina-centrar-monitores">
            <table class="tabela-monitores">
                <tr>
                    <td class="linha1-tabela">
                        <p class="tabela-titulos">Temperatura Atual</p>
                        <div class="tabela-caixa1">
                            <p class="pt-3">18.9 ºC</p>
                        </div>
                    </td>
                    <td class="linha1-tabela">
                        <p class="tabela-titulos">Humidade Atual</p>
                        <div class="tabela-caixa1 pl-4 pr-4">
                            <p class="pt-3">82%</p>
                        </div>
                    </td>
                    <td class="linha1-tabela">
                        <p class="tabela-titulos">Movimento Atual</p>
                        <div class="tabela-caixa2">

                        </div>
                    </td>
                </tr>
            </table>
            <btn class="btn btn-primary text-center text-white botao-monitores">Visualizar Gráficos</btn>
        </div>
    </div>

    <%- include('partials/footer'); %>