<%- include('partials/navbar'); %>

<main>
  <br><br><br><br><br><br><br><br><br>
    <h2 id="headerTitle" class="text-center mb-3"></h2>
    <div class="divInformation" id="divInformation"></div>
    <form action="javascript: info.processingMonitor('create');" id="monitorForm">
      <div class="form-group">
        <input type="text" id="code" name="code" class="form-control" value="" required>
        <input type="text" id="title" name="title" class="form-control" value="" required>
        <input id="addMonitor" type="submit" value="Adicionar Monitor">
      </div>
    </form>
</main>

<!--
  <div class="Pagina1-menu">
      <div class="Titulo-Pagina1-menu">
          <p>Os seus monitores.</p>
      </div>

      <section class="menus">
          <div class="one"><a class="fas fa-desktop" href=""></a>
         <p class="menus-texto">Monitor 1</p></div>
          <div class="two"><a class="fas fa-plus" href=""></a>
          <p class="menus-texto">Adicionar Monitor</p></div>
        </section>
  </div> -->
  

  <%- include('partials/footer'); %>