<%- include('partials/nav-bar-home'); %>
<main>
  <div class="Pagina1-home">
    <div class="Titulo-Pagina1">
      <p>Controle os seus monitores.</p>
      <p>Controle a sua vida.</p>
    </div>

    <div class="Texto-Pagina1-home">
      <p>A sua área pessoal para que possa controlar e gerir os seus monitores de uma forma </p>
        <p>fácil e intuitiva através do seu computador ou smartphone.</p>
      
      <br>
      <a href="" class="btn btn-primary">Ver pilas</a>
    </div>
  </div>
  <div class="Pagina2-home">
    <div class="Titulo-Pagina1">
      <p>O que pode fazer.</p>
      <p class="linha">___________</p>
    </div>
    <table id="boxes-home">
      <tr>
        <td id="leftbox">
          <i class="fas fa-desktop"></i><br><br>
          <p class="textinho mt-">Gerir os seus monitores, para as suas preferencias </p>
        </td>
        <td id="middlebox">
          <i class="fas fa-anchor bg-white text-dark"></i><br><br>
          <p class="textinho">Definir como quer que o
            sistema se comporte</p>
        </td>
        <td id="middlebox">
          <i class="fas fa-leaf"></i><br><br>
          <p class="textinho">Ver estatísticas de utilização
            dos seus monitores e as suas informações</p>
        </td>
        <td id="rightbox">
          <i class="fas fa-paper-plane"></i><br><br>
          <p class="textinho mt-3">Contactar o nosso
            apoio ao cliente para ajuda personalizada</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="Pagina3-home">
    <div class="Titulo-Pagina1">
      <p>Como conectar os seus monitores.</p>
    </div>
    <p class="linha">___________</p>
    <div class="Pagina3-Texto">
      <p><b class="font-weight-bold">1º Passo:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
        <b class="font-weight-bold">2º Passo:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
        <b class="font-weight-bold">3º Passo:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
        <b class="font-weight-bold">4º Passo:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
        <b class="font-weight-bold">5º Passo:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  
  <%- include('partials/footer'); %>