<%- include('partials/navbar'); %>

<main>
  <br><br><br><br><br><br><br><br><br>
    <h2 id="headerTitle" class="text-center mb-3"></h2>
    <div class="divInformation mb-6" id="divInformation"></div>
    <form action="javascript: info.processingMonitor('create');" id="monitorForm">
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>" required >
        <input type="text" id="code" name="code" class="form-control" value="" placeholder="Digite o codigo do monitor..." required>
        <input type="text" id="title" name="title" class="form-control" value="" placeholder="Digite o titulo do monitor..." required>
        <input class="mb-3" id="save" type="submit" value="Guardar">
      </div>
    </form>
</main>


  <%- include('partials/footer'); %>