
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
    <a class=" navbar-brand ml-6 pl-3 mr-0 pr-lg-2 mr-lg-4" href="/"><img class="w-75" src="images/favicon.ico"></a>
    <div id="nav-home">
      <a href="#Link-Produto" class="btn-secondary-navbar underline">Produto</a>
      <a href="#Link-Servicos" class="btn-secondary-navbar underline">Serviços</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-2">
        <a href="/signin" class="btn btn-secondary-navbar"> Login</a>
      </ul>
      <ul class="navbar-nav ml-3">
        <li class="nav-item mr-5">
          <a href="/signup" class="btn btn-primary-navbar"> Registar</a>
        </li>
      </ul>
    </div>
  </nav>
</header>