<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light text-alling-center">
      <div id="nav-home">
        <a href="" class="btn-secondary-navbar underline"> Home</a>
        <a href="" class="btn-secondary-navbar underline"> Monitores</a>
        <a href="" class="btn-secondary-navbar underline"> Definições</a>
      </div>
      <h2 class="titulo-nav-home">Home</h2>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul> 
        <ul class="nav-item dropdown mt-3 mr-5">
          <a class="dropdown-toggle btn btn-primary-navbar" data-toggle="dropdown" href="#">(Nome Utilizador)</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> <i class="fas fa-id-badge pr-9"></i>Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"> <i class="fas fa-sign-out-alt pr-9"></i> Sair</a>
          </div>
        </ul>
      </div>
    </nav>
  </header>